* {
    margin: 0%;
    padding: 0%;
}

body{
    background-color: lightgray;
}

body a {
    color: red;
}

header{
    padding-top: 0%;
    padding-bottom: 30px;
    background-color: black;
    color: white;
    text-align: center;
    max-width: 100%;
}

header h1 {
    padding-top: 40px;

}

/* split into 3 display columns. */
.column{
    float: left;
    width: 33%;
    padding: 10px;
}


/* #portfolioImage{
    float: left;
    width: 30%;
    padding: 5px;
}

#aboutMeSection{
    width: 30%;
    float: left;
    padding: 5px;
} */


