:root{
    --light-blue: #88dffc;
    --dark-gray: #333;
    --light-gray: #555; 
    --dark-blue: #054a9e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a{
    color: var(--light-blue);
}

body {
    background-color: lightgray;
    
}

/* Primary layout grid */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(3, 500px);
    grid-gap: 1rem;
    grid-template-areas: 
    "about-me about-me-content"
    "work work-content"
    "contact-info contact-info-content";
}




/* Top navigation bar */
.navbar{    
    display: flex;
    /* align-items: center;     */
    justify-content: space-between;
    align-content: center;
    height: 20vh;
    background-color: var(--dark-gray);
    color: var(--light-blue);
    
}
.portfolio-name {
    font-size: 2rem;
    font-weight: bold;
    margin: 10px;
}

.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;

}

.navbar-links li a{
    text-decoration: none;
    color: var(var(--light-blue));
    font-size: 1.5rem;
    padding: 1rem;
    display: block;
    text-decoration: underline;
}

.navbar-links li a:hover {
    background-color: var(--light-gray);
}

/* Hero Img */
.hero img{
    width: 100%;
    height: 50vh;
}

/* structure Grid */
.about-me-header {
    grid-area: about-me;
    color: var(--dark-blue);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.about-me-flex {
    grid-area: about-me-content;
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;

}
.about-me-flex img{
    grid-area: about-me-content;    
    display: flex;
    height: 95%;
    width: 30vw;
    justify-content: flex-start;
    margin-right: 20px;
}

.about-me-text {
    grid-area: about-me-content;
    display: flex;
    justify-content: center;
    margin-left: 1rem;

}


